AZURE_STORAGE_CONNECTION_STRING=
SRC_CONTAINER=
SRC_PREFIX=
DST_CONTAINER=
DST_PREFIX_ROOT=
PAYMENTS_API_URL=
TRINO_HOST=
TRINO_PORT=
TRINO_USER= 
TRINO_PASSWORD=
FALLBACK_TO_YESTERDAY=
SRC_DATE_PATTERN=

